
// SCSS Variables
	$fontMain: 'liberation-sans', sans-serif;
	$fontTitle: 'Oswald', sans-serif;

	$colorFont: #595555;
	$colorTitle: #2C2827;

	$lightGrey: rgba(186,186,186,0.1);
	$medGrey: #F6F4F4;
	$orange: #F58C1F;
	$white: #F6F4F4;
