@import '../styles/variables';

.accordion {
  margin: 4rem 0;

  .accordion--item {
    border-top: .1rem solid rgba(23,23,23,0.2);

    .accordion--title {
      padding: 1.5rem 2rem;
      color: $colorFont;
      font-size: 1.6rem;
      text-transform: uppercase;
      cursor: pointer;
      user-select: none;
      transition: all ease-in-out 0.2s;
      border-radius: 1rem;
      overflow: hidden;
      position: relative;
      margin: 0;

      svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
        width: 1.5rem;
        transition: all ease-in-out 0.2s;

        * {
          fill: $colorFont;
        }
      }
    }

    .accordion--content {
      overflow: hidden;
      transition: all ease-in-out 0.2s;
      border-top: none;

      > div {
        padding: 0 2rem 2rem;
      }

      .content {
        p {
          font-size: 1.4rem;
        }
      }

      .download {
        margin-top: 2rem;
        font-family: $fontTitle;
        font-size: 1.4rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        svg {
          margin-left: 1rem;
          height: 1.4rem;
        }

        &:hover {
          color: $orange;
        }
      }
    }

    &.active {
      .accordion--title {
        svg {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    &:last-of-type {
      border-bottom: .1rem solid rgba(23,23,23,0.2);
    }
  }
}
