@import '../styles/variables';

.divisions-section {
  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4.5rem 0;
    margin-bottom: 5rem;
    border-bottom: .1rem solid rgba(22,23,23,0.2);

    .intro-logo {
      text-align: center;
      margin-right: 2rem;

      img {
        margin: 0 auto 1rem;
        max-width: 16rem;
        max-height: 8rem;
      }
    }

    .content {
      flex: 0 0 80%;
    }
  }

  .divisions {
    margin-bottom: 8rem;

    .business-listing {
      .business-links {
        flex-wrap: wrap;

        .business-link {
          flex: 0 0 33.33%;
          padding: 0 3%;
          justify-content: flex-start;
          align-items: stretch;
          margin-bottom: 5rem;
          border-right: .1rem solid rgba(23,23,23,0.2);

          .business-image {
            position: relative;
            height: 20rem;
          }

          .business-logo {
            position: absolute;
            top: 10rem;
            transform: translateY(-50%) scale(1);
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: all ease-in-out .2s;
          }

          .business-info {
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 0 4rem;
            text-align: left;

            div {
              flex: 0 0 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 2rem;
            }
          }

          h2, .button {
            color: $colorTitle;
            margin: 0;
          }

          h2 {
            font-size: 2.4rem;
          }

          .button {
            border-top: none;
            border-left: none;
            border-right: none;
            padding: .5rem;
            align-self: flex-start;
            font-size: 1.6rem;
            flex: 0 0 auto;
          }

          &:first-of-type {
            padding-left: 0;

            .business-logo {
              left: -10%;
            }
          }

          &:nth-of-type(3n+3) {
            padding-right: 0;
            border-right: none;

            .business-logo {
              left: 10%;
            }
          }

          &:hover {
            .button {
              background-color: transparent;
              color: $orange;
              border-bottom-color: $orange;
            }

            .business-logo {
              transform: translateY(-50%) scale(1.1);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .divisions-section {
    .divisions {
      .business-listing {
        .business-links {
          .business-link {
            padding: 0 2%;

            h2 {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1020px) {
  .divisions-section {
    .divisions {
      .business-listing {
        .business-links {
          .business-link {
            flex: 0 0 50%;

            &:nth-of-type(3n+3) {
              padding-right: 2%;
              border-right: .1rem solid rgba(23,23,23,0.2);

              .business-logo {
                left: 0;
              }
            }

            &:nth-of-type(2n+2) {
              padding-right: 0;
              border-right: none;

              .business-logo {
                left: 10%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 765px) {
  .divisions-section {
    .intro {
      justify-content: center;
      text-align: center;

      .intro-logo {
        margin: 0 0 2rem;
      }

      .content {
        flex: 0 0 100%;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .divisions-section {
    .divisions {
      .business-listing {
        .business-links {
          .business-link {
            flex: 0 0 100%;
            border-right: none !important;
            border-bottom: .1rem solid rgba(23,23,23,0.2);
            padding: 4rem 0 !important;
            margin: 0;

            .business-logo {
              left: 0 !important;
              top: 13rem;
            }

            .business-info {
              padding-bottom: 0;
            }

            &:first-of-type {
              padding-top: 0 !important;

              .business-logo {
                top: 10rem;
              }
            }

            &:last-of-type {
              border-bottom: none;
              padding-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .divisions-section {
    .divisions {
      margin-bottom: 4rem;
    }
  }
}
