@import '../styles/variables';

.downloads-section {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: .2rem solid rgba(23,23,23,0.2);
    padding: 4rem 0 6rem;
  }
}

.downloads {
  flex: 0 0 60%;

  h2 {
    text-transform: uppercase;
  }

  .download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: .2rem solid rgba(23,23,23,0.2);
    font-family: $fontTitle;
    font-size: 2.2rem;
    text-transform: uppercase;

    &:hover {
      color: $orange;
      border-bottom-color: $orange;
    }
  }
}

@media only screen and (max-width: 700px) {
  .downloads-section {
    .container {
      justify-content: center;
    }
  }

  .downloads {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 375px) {
  .downloads {
    .download {
      font-size: 1.8rem;
      padding: 1.5rem 0;
    }
  }
}
