@import '../styles/variables';

.featured-home-section {
  .container {
    padding: 4rem 0;
    border-top: .2rem solid rgba(23,23,23,0.2);
    text-align: center;
  }

  h2 {
    margin-bottom: 4rem;
  }

  .slider-item {
    padding: 0 3rem;
    outline: none;

    .slider-image {
      padding-bottom: 16rem;
      width: 100%;
    }

    h4 {
      text-align: left;
      margin-top: 2rem;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: black;
  }

  .button {
    display: inline-block;
    margin-top: 6rem;
  }
}
