@import '../styles/variables';

.footer {
  position: relative;
  z-index: 9;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  * {
    color: $white;
  }

  .footer-top {
    background-color: #1B1B1B;
    padding: 1.5rem 0;

    h2 {
      margin: auto 0;
    }

    p, a {
      opacity: .7;
      font-size: 1.5rem;
      display: block;
      margin: .5rem 0;
      letter-spacing: .08rem;
    }

    a {
      svg {
        height: 1.5rem;

        * {
          fill: $white;
          transition: all ease-in-out .2s;
        }
      }

      &:hover {
        color: $orange;

        svg {
          * {
            fill: $orange;
          }
        }
      }
    }
  }

  .footer-bottom {
    background-color: #151515;
    padding: 4rem 0 2rem;

    .logo {
      height: 6rem;
      flex: 1;
      position: relative;
      border-right: .1rem solid rgba(255,255,255,0.2);

      img {
        max-width: 16rem;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0.5;
        transform: scale(1) translateY(-50%);
        transition: all ease-in-out .2s;
      }

      &:last-of-type {
        border-right: none;
      }

      &:hover {
        img {
          transform: scale(1.1) translateY(-50%);
          opacity: 1;
        }
      }
    }

    p {
      flex: 0 0 100%;
      margin-top: 4rem;
      text-align: center;
      font-size: 1.2rem;
      opacity: 0.5;

      a:hover {
        color: $orange;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .footer {
    .footer-top {
      padding: 2.5rem 0 1.5rem;

      .container {
        * {
          flex: 0 0 100%;
          text-align: center;
        }
      }

      h2 {
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    .footer-bottom {
      padding: 3rem 0 2rem;

      .logo {
        height: 5rem;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .footer {
    .footer-bottom {
      .logo {
        height: 4rem;
      }
    }
  }
}
