@import '../styles/variables';

.archive-projects {
  padding-bottom: 10rem;

  .container {
    .archive-projects-listing {
      display: flex;
      flex-wrap: wrap;
      padding-top: 5rem;
    }
  }

  .no-projects {
    margin: 0 auto;
    font-size: 2.7rem;
    font-family: $fontTitle;
  }
}

.quarry-solutions, .integrated-concrete-solutions {
  .archive-projects {
    padding-top: 0;

    .project-nav {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .archive-projects {
    padding-bottom: 5rem;

    .container {
      .archive-projects-listing {
        padding-top: 0;
      }
    }
  }
}
